/* Typography */
html {
  font-size: 62.5%;
}
body {
  line-height: 1.5;
  font-family: "Bai Jamjuree", sans-serif;
}
*,
*::before,
* ::after {
  box-sizing: border-box;
}
:root {
  --color-strong-cyan: hsl(171, 66%, 44%);
  --color-light-blue: hsl(233, 100%, 69%);
  --color-dark-grayish-blue: hsl(210, 10%, 33%);
  --color-grayish-blue: hsl(201, 11%, 66%);
  --color-white: #fff;
  --color-footer-bg: #f5f6f8;
}

h1,
h2,
h3 {
  color: var(--color-dark-grayish-blue);
}
h1 {
  margin-bottom: 0;
  font-size: 3.5rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.8rem;
  color: var(--color-grayish-blue);
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 3.5rem;
  }
  h3 {
    font-size: 2.5rem;
  }
}
/* Images */
img {
  width: 100%;
}
/* Lists */
a,
ul,
li {
  padding: 0;
  margin: 2rem;
  list-style-type: none;
  text-decoration: none;
  font-size: 1.8rem;
  color: var(--color-dark-grayish-blue);
}
/* Hero */
.hero {
  text-align: center;
  position: relative;
}
.header {
  text-align: center;
  padding: 2rem;
  margin-top: 15rem;
}
.hero__heading {
  text-align: center;
}
.hero__text {
  text-align: center;
}
.logo {
  position: absolute;
  top: 20%;
  left: 33%;
}
@media screen and (min-width: 768px) {
  .logo {
    top: 30%;
    left: 45%;
  }
  .header,
  .hero__heading {
    margin: 0rem;
  }
}
/* Buttons */
.btn {
  font-size: 2rem;
  color: var(--color-white);
  border-radius: 30px;
  cursor: pointer;
  border: none;
  padding: 2rem 3rem;
  margin: 1.5rem;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  margin-top: 1rem;
  margin-bottom: 10rem;
  padding: 1.5rem;
}
.btn--primary {
  background-color: var(--color-strong-cyan);
}
.btn--secondary {
  background-color: var(--color-light-blue);
}
@media screen and (min-width: 768px) {
  .buttons {
    flex-direction: row;
    margin-bottom: 10rem;
  }
  .btn {
    padding: 1.5rem 5rem;
  }
}
/* Articles */
article {
  text-align: center;
  padding: 1rem;
}
.article__image {
  margin-top: 1rem;
  width: 100%;
  height: 100%;
}
/* Advertisments */
.ad {
  padding: 3rem;
  text-align: center;
}
.box__heading {
  margin-bottom: 0.5rem;
}
@media screen and (min-width: 768px) {
  .ad {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .box-two {
    padding-left: 2rem;
    padding-right: 10rem;
    margin-bottom: 5rem;
    text-align: left;
  }
  .article__image {
    position: relative;
    left: -15%;
  }
}
/* Section with devices */
.devices {
  margin-top: 10rem;
  text-align: center;
  padding: 3rem;
}
@media screen and (min-width: 768px) {
  .devices__image {
    width: 70%;
  }
}
/* Wraping text for Desktop */
@media screen and (min-width: 768px) {
  .box__text {
    inline-size: 60rem;
    display: inline-flex;
  }
}
/* Tools Section */
.tools {
  text-align: center;
  padding: 3rem;
}
.tools__heading {
  margin-bottom: 10rem;
  text-align: center;
  padding: 2rem;
}
.tools__image {
  width: 4rem;
  height: 3.5rem;
  margin: 1rem;
}
@media screen and (min-width: 768px) {
  .tools {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 3rem 0 3rem;
  }
  .tool {
    padding: 2rem;
    flex: 1;
  }
}
/* Companies */
.companies {
  margin-top: 8rem;
}
.company {
  text-align: center;
  margin: 5rem;
}
.company__image {
  width: 50%;
}
@media screen and (min-width: 768px) {
  .companies {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 10rem;
  }
  .company__image {
    width: 80%;
  }
}
/* Footer */
footer {
  background-color: var(--color-footer-bg);
  text-align: center;
}
.footer__image {
  width: 20%;
  margin: 3rem 0 3rem;
}
.footer-media {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 3rem;
}
.media__icon {
  width: 8%;
}
@media screen and (min-width: 768px) {
  footer {
    text-align: left;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .footer-logo {
    width: 8%;
  }
  .footer__image {
    width: 50%;
    margin: 3rem 0 3rem;
  }
  .footer-list ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  .media__icon {
    width: 7%;
    margin-right: 0.5rem;
  }
}
